---
import { constants } from '../../constants';
import type { Contents } from '../../contents';
import { asset } from '../../utils/UrlUtils';
import AtIcon from '../icons/AtIcon.astro';
import GitHubIcon from '../icons/GitHubIcon.astro';
import InstagramIcon from '../icons/InstagramIcon.astro';
import XIcon from '../icons/XIcon.astro';
import Container from '../layouts/Container.astro';
import Image from '../media/Image.astro';
import Link from '../navitation/Link.astro';
import Text from '../typography/Text.astro';
import BaseTemplate from './BaseTemplate.astro';

const SOCIALS = [
{
    name: 'Bluesky',
    id: `@${constants.social.bluesky}`,
    href: `https://bsky.app/profile/${constants.social.bluesky}.bsky.social`,
    icon: AtIcon,
  },
  {
    name: 'GitHub',
    id: `@${constants.social.github}`,
    href: `https://github.com/${constants.social.github}`,
    icon: GitHubIcon,
  },
  {
    name: 'Instagram',
    id: `@${constants.social.instagram}`,
    href: `https://www.instagram.com/${constants.social.instagram}`,
    icon: InstagramIcon,
  },
  {
    name: 'X',
    id: `@${constants.social.x}`,
    href: `https://x.com/${constants.social.x}`,
    icon: XIcon,
  },
] as const;

export type Props = {
  about: Contents['top.about'];
  resume: Contents['top.resume'];
};

const { about, resume } = Astro.props;
---

<BaseTemplate title="hi">
  <!-- keyvisual -->
  <section class="relative h-[512px] overflow-hidden">
    <Image
      alt=""
      class="absolute left-[50%] top-[50%] z-[-1] max-w-none translate-x-[-50%] translate-y-[-50%] object-cover lg:min-w-full"
      format={'jpg'}
      src={asset('kv-bg.jpg')}
      srcset={[`${asset('kv-bg.jpg')}`, `${asset('kv-bg@1.5x.jpg')} 1.5x`, `${asset('kv-bg@2x.jpg')} 2x`].join(', ')}
      width={1400}
      height={516}
    />
    <div class="flex h-full justify-center">
      <div class="flex flex-col items-center justify-center lg:flex-row-reverse">
        <Image
          alt="cure-tmk"
          class="h-[128px] w-[128px] rounded-full border-2 border-solid border-black duration-100 ease-in-out hover:scale-105 hover:border-transparent lg:h-[160px] lg:w-[160px]"
          format={'jpg'}
          src={asset('main-icon.jpg')}
          srcset={[
            `${asset('main-icon.jpg')}`,
            `${asset('main-icon@1.5x.jpg')} 1.5x`,
            `${asset('main-icon@2x.jpg')} 2x`,
          ].join(', ')}
          width={160}
          height={160}
        />

        <div class="lg:mt-none mt-4 text-center lg:mr-20 lg:text-left">
          <Text as="h1" class="mb-1 text-2xl font-bold lg:mb-2 lg:text-4xl">cure-tmk</Text>
          <Text class="lg:text-xl">Tomoki Kano / 狩野智輝</Text>
          <div class="mt-4 flex justify-center gap-2 lg:justify-start">
            {
              SOCIALS.map(({ name, id, href, icon: Icon }) => (
                <Link title={name} href={href} class="rounded-full duration-100 hover:opacity-80 focus:opacity-80">
                  <Icon aria-label={id} size="2rem" />
                </Link>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- body -->

  <Container>
    <div class="mb-4"></div>

    <!-- about -->
    <Text as="h2" class="mb-4 mt-6 text-xl font-bold">About</Text>
    <Text as="p" class="whitespace-pre-wrap">
      {about}
    </Text>

    <!-- resume -->
    <Text as="h2" class="mb-4 mt-8 text-xl font-bold">Resume</Text>
    <ol class="flex flex-col gap-6">
      {
        resume.map((resumeItem) => (
          <li class="before:contents=[''] after:contents=[''] befrore:bg-white relative pl-6 before:absolute before:left-0 before:top-1.5 before:block before:h-3 before:w-3 before:rounded-full before:bg-cure-blue after:absolute after:left-1 after:top-6 after:h-full after:w-0.5 after:translate-x-1/2 after:rounded-sm after:bg-cure-blue last:after:content-none">
            <div class="flex flex-col items-baseline lg:flex-row lg:gap-2">
              <Text class="block text-base font-semibold">{resumeItem.title}</Text>
              <Text class="block text-sm text-slate-500">{resumeItem.term}</Text>
            </div>
            {resumeItem.description && (
              <div class="mt-1">
                <Text class="block text-sm text-slate-700">{resumeItem.description}</Text>
              </div>
            )}

            {resumeItem.products && (
              <ul class="mt-1 flex flex-col">
                {resumeItem.products.map((product) => (
                  <li class="before:contents=[''] relative pl-4 before:absolute before:left-1 before:top-3 before:block before:h-1 before:w-1 before:rounded-full before:bg-cure-blue">
                    <Link href={product.href} target="_blank" class="text-sm">
                      {product.title}
                    </Link>
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))
      }
    </ol>

    <!-- contacts -->
    <Text as="h2" class="mb-4 mt-8 text-xl font-bold">Contacts</Text>

    <div class="mb-2"></div>

    <ul>
      {
        SOCIALS.map(({ name, id, href }) => (
          <li>
            {name}:
            <Link href={href} target="_blank">
              {id}
            </Link>
          </li>
        ))
      }
    </ul>
  </Container>
</BaseTemplate>
